body {
    font-family: 'Monserrat', sans-serif; 
    font-weight: bold; 
    background-color: #f9f9f9; 
    color: #333; 
    margin: 0;
    padding: 0;
    text-align: center; 
}
.contenedor {
    display: flex; 
    justify-content: space-between; 
    margin: 20px;
}

.columna {
    flex: 1; 
    margin: 0 10px; 
}

.opciones {
    max-width: 500px; 
}

.barrios {
    max-width: 150px; 
}

.resultados {
    max-width: 300px; 
}

.centrar {
    margin: 10px auto; 
    max-width: 600px; 
}

.titulo {
    font-size: 2em; 
    margin: 20px 0; 
    color: #343a40; 
}

h3 {
    text-align: center; 
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #007bff; 
    color: white; 
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

button:hover {
    background-color: #0056b3;
}

#resultados {
    margin-top: 20px;
}

#barrios-list {
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff; 
    text-align: left; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

#barrios-list table {
    width: 100%; /* Cambiado a 100% para que ocupe todo el espacio */
    border-collapse: collapse;
}

#barrios-list th, #barrios-list td {
    border: 1px solid #ffffff; /* Bordes azules */
    padding: 10px;
    text-align: center;
}

#barrios-list th {
    background-color: #0056b3; /* Fondo azul oscuro para el encabezado */
    color: white; 
    font-weight: bold;
}

#barrios-list tr:nth-child(even) {
    background-color: #d1ecf1; /* Azul claro para filas pares */
}

#barrios-list tr:hover {
    background-color: #e2e6ea; /* Color de fondo al pasar el ratón */
}

.modal {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
    background-color: white; /* Fondo blanco para el modal */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para el modal */
}

.barrio-fila {
    background-color: #ADD8E6; /* Azul claro */
}

.barrio-fila-alt {
    background-color: white; /* Blanco */
}

table.center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; /* Eliminar espacios entre celdas */
    width: 80%; /* Ancho de la tabla */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

th, td {
    padding: 12px; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
    border: 1px solid #ddd; /* Borde ligero */
}

th {
    background-color: #007BFF; /* Color de fondo azul para el encabezado */
    color: white; /* Color del texto del encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse */
}

caption {
    font-size: 1.5em; /* Tamaño de fuente del título de la tabla */
    margin: 10px; /* Margen alrededor del título */
}


